* {
  margin: 0px;
  padding: 0px;
}

nav {
  position: relative;
  z-index: 1;
}
nav .navbar {
  position: absolute;
  margin-top: -20px;
}
nav .navbar .nav-logo {
  width: 60px;
}
nav .navbar .nav-logo img {
  width: 100%;
}
nav .navbar .nav-categories ul li {
  list-style-type: none;
}
nav .navbar .nav-categories ul li a {
  text-decoration: none;
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
nav .navbar .nav-categories ul li a .badge {
  position: absolute;
  padding: 3px 6px;
  font-size: 10px;
  font-weight: 400;
  color: white;
  margin-top: -10px;
  margin-left: -20px;
}
nav .navbar .nav-categories ul li a .badge-green {
  background-color: #34C134;
}
nav .navbar .nav-categories ul li a .badge-red {
  background-color: #FF3A3A;
}
nav .navbar .nav-icons {
  color: white;
}
nav .navbar .nav-icons .badge {
  position: absolute;
  margin-top: -10px;
}
nav .navbar .nav-icons .nav-icons-badge {
  font-family: "Jost", sans-serif;
  font-size: 10px;
  background-color: white;
  font-weight: 400;
  color: black;
}

.hero .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.hero .carousel-indicators .active {
  opacity: 1;
  background-color: #fff transparent;
}
.hero .carousel-inner {
  position: relative;
}
.hero .carousel-inner .carousel-item {
  position: relative;
}
.hero .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: "Jost", sans-serif;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 80px;
  font-family: "Cormorant", serif;
}
.hero .carousel-inner .carousel-item .carousel-caption p {
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  line-height: 86px;
}
.hero .carousel-inner .carousel-item .carousel-caption p:last-child {
  font-size: 20px;
}
.hero .carousel-inner .carousel-item .carousel-caption span {
  background-color: black;
  padding: 10px 30px;
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  cursor: pointer;
}
.hero .carousel-inner .carousel-item .carousel-caption span:hover {
  background-color: #58B7A3;
}

.product-carousel .product-item p {
  font-size: 12px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}
.product-carousel .product-item img {
  border: 2px solid #EEEEEE;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  transition: all 1s;
}
.product-carousel .product-item img:hover {
  border: 2px solid #58B7A3;
  transition: all 1s;
}
.product-carousel .carousel-control-prev .carousel-control-prev-icon {
  color: #222222;
}
.product-carousel .product-cards {
  position: relative;
  margin: 0;
  padding: 0;
}
.product-carousel .product-cards .product-card {
  position: relative;
}
.product-carousel .product-cards .product-card .product-image img {
  width: 100%;
}
.product-carousel .product-cards .product-cards-text {
  position: absolute;
  font-family: "Cormorant", serif;
}

.cards .cards-carousel h1 {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}
.cards .cards-carousel .new-arrivals-cards .new-arrivals-card-item {
  background-color: #F8F8F8;
  width: 150px;
  height: 200px;
}

.basic-collection figure, .basic-collection img {
  width: 100%;
  height: auto;
}
.basic-collection .basic-collection-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.basic-collection .play-button {
  background-color: #F87C8A;
  width: 70px;
  height: 70px;
}
.basic-collection .play-button:hover {
  background-color: #58B7A3;
}
.basic-collection span {
  background-color: black;
  padding: 10px 30px;
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  cursor: pointer;
}
.basic-collection span:hover {
  background-color: #58B7A3;
}
.basic-collection .basic-collection-text {
  position: relative;
}

.e-mail-section {
  width: 100%;
  background-color: #FEE8EA;
  position: relative;
  height: 400px;
}
.e-mail-section .e-mail-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.e-mail-section .e-mail-details h1 {
  font-family: "Jost", serif;
  font-size: 80px;
}/*# sourceMappingURL=main.css.map */