.cards{
    .new-arrivals{
        h1{
            font-family: 'Cormorant', serif;  
            font-weight: 400;
            font-size: 30px;
            color: #222222;
        }
        .new-arrivals-cards{
            .new-arrivals-card-item{
                background-color: #F8F8F8;
                width: 150px;
                height: 200px;
            }
        }
    }
}