.cards{
    .cards-carousel{
        h1{
            font-family: 'Cormorant', serif;  
            font-weight: 400;
            font-size: 30px;
            color: #222222;
        }
        .new-arrivals-cards{
            .new-arrivals-card-item{
                background-color: #F8F8F8;
                width: 150px;
                height: 200px;
            }
        }
    }
}
.basic-collection{
    figure, img{
        width: 100%;
        height: auto;
    }
    .basic-collection-text{
        position: relative;
        .basic-collection-details{
            position: absolute;
        }
        .play-button{
      
            background-color: #F87C8A;
            width: 70px;
            height: 70px;
            &:hover {
                background-color: #58B7A3;
            }
        }
        span {
            background-color: black;
            padding: 10px 30px;
            font-size: 14px;
            font-family: 'Jost', sans-serif;
            font-weight: 300;
            cursor: pointer;
    
            &:hover {
                background-color: #58B7A3;
            }
    }
    }



}
.e-mail-section