nav{
  position: relative;
    .navbar{
        position: absolute;
            width: 100%;
            background-color: transparent; 
            z-index: 1000; 
        .nav-icons{
       
            color: rgb(218, 30, 30);
            }
    }
    
}
