  .cards-carousel {
      .cards-carousel-title {
          h1 {
              font-family: 'Cormorant', serif;
              font-size: 30px;
              font-weight: 100;
              color: #222222;
          }
      }

      .new-arrivals-cards {
          .new-arrivals-card-item {
              background-color: #F8F8F8;
              width: 150px;
              height: 200px;
          }
      }
  }

  .basic-collection {
      position: relative;

      figure,
      img {
          width: 100%;
          height: auto;
      }

      .basic-collection-details {
          position: relative;
          //   top: 50%;
          //   left: 50%;
          //   transform: translate(-50%, -50%);
          width: 100%;
          z-index: 3;

          .basic-collection-title {
              font-family: 'Cormorant', serif;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              h1 {
                  font-weight: 100;
              }
          }
      }

      .play-button {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #F87C8A;
          width: 70px;
          height: 70px;
         

          &:hover {
              background-color: #58B7A3;
          }
      }

      span {
          background-color: black;
          padding: 10px 30px;
          font-size: 14px;
          font-family: 'Jost', sans-serif;
          font-weight: 300;
          cursor: pointer;
          color: white;

          &:hover {
              background-color: #58B7A3;
              color: white;
          }
      }

      .basic-collection-text {
        position: absolute;
        margin-left: 100px;


      }



  }

  .e-mail-section {
      width: 100%;
      background-color: #FEE8EA;
      position: relative;
      height: 400px;

      .input-group {
          width: 700px;
      }

      .e-mail-details {
          //   position: absolute;
          //   top: 50%;
          //   left: 50%;
          //   transform: translate(-50%, -50%);
          width: 100%;

          h1 {
              font-family: 'Cormorant', serif;
              font-size: 30px;
          }
      }

  }