.hero {
    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
    }

    .carousel-indicators .active {
        opacity: 1;
        background-color: #fff transparent;
    }

    .carousel-inner {
        position: relative;

        .carousel-item {
            position: relative;

            .carousel-caption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: fit-content;
                width: 100%;
                // font-family: $font-family-jost;
                font-family: 'Jost', sans-serif;
                object-fit: cover;

                h1 {

                    font-size: 60px;
                    font-family: 'Cormorant', serif;
                }

                p {
                    font-size: 14px;
                    font-family: 'Jost', sans-serif;
                    font-weight: 300;
                    line-height: 86px;
                }

                p:last-child {
                    font-size: 20px;
                }

                span {
                    background-color: black;
                    padding: 10px 30px;
                    font-size: 14px;
                    font-family: 'Jost', sans-serif;
                    font-weight: 300;
                    cursor: pointer;

                    &:hover {
                        background-color: #58B7A3;
                    }
                }
            }
        }
    }
}

.product-carousel {

    .product-item {

        p {
            font-size: 12px;
            font-family: 'Jost', sans-serif;
            font-weight: 500;
        }

        img {
            border: 2px solid #EEEEEE;
            border-radius: 50%;
            // resme border verilmez
            // ve sabit genişlik
            object-fit: cover;
            width: 120px;
            height: 120px;
            cursor: pointer;
            transition: all 1s;

            &:hover {
                border: 2px solid #58B7A3;
                transition: all 1s;
            }
        }

    }

    .carousel-control-prev {
        .carousel-control-prev-icon {
            color: #222222;
        }
    }

    .product-cards {
     position: relative;
        margin: 0;
        padding: 0;

        .product-card {
     position: relative;

            .product-image {
              position: relative;
                img {
                    width: 100%;
                }

                .product-cards-text {
             position: absolute;
              p{
                font-family: 'Cormorant', serif;
              }
              h2{
                font-family: 'Cormorant', serif;
              }
                }
            }
        }


    }


}