nav {
    position: relative;
    z-index: 1;

    .navbar {
        position: absolute;
        margin-top: -20px;

        .nav-logo {
            width: 60px;

            img {
                width: 100%;
                
            }
        }

        .nav-categories ul li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: white;
                // font-family: $font-family-jost;
                font-family: 'Jost', sans-serif;
                font-size: 14px;
                font-weight: 400;

                .badge {
                    position: absolute;
                    padding: 3px 6px;
                    font-size: 10px;
                    font-weight: 400;
                    color: white;
                    margin-top: -10px;
                    margin-left: -20px;
                }

                .badge-green {
                    background-color: #34C134;
                }

                .badge-red {
                    background-color: #FF3A3A;
                }

            }
        }

        .nav-icons {
            color: white;

            .badge {
                position: absolute;
                margin-top: -10px;

            }

            .nav-icons-badge {
                // font-family: $font-family-jost;
                font-family: 'Jost', sans-serif;
                font-size: 10px;
                background-color: white;
                font-weight: 400;
                color: black;
            }
        }
    }


}